In [2]:
#exchange first and last letter
a=str(input("enter the string: "))
b=a[0]
c=a[-1]
print("the resultant string is:",c+a[1:-1]+b)

enter the string: flower
the resultant string is: rlowef

In [1]:
#first and last character interchange
s=str(input("enter the string: "))
a=s[0:2]
b=s[-2:]
print("the resultant string is: ",a+s[-2:])

enter the string: APPLE
the resultant string is:  APLE

In [2]:
#swap frst two characters of two string
s1=str(input("enter frst string: "))
s2=str(input("enter scnd string: "))
a=s1[0:2]
b=s2[0:2]
print("the resulting string: ",b+s1[2:],"",a+s2[2:])

enter frst string: WELCOME
enter scnd string: DEAR
the resulting string:  DELCOME  WEAR

In [4]:
#REPLACE OCCURANCE OF FIRST CHARACTER TO S
s=str(input("enter the string: "))
a=s[0]
b=s[1:]
st=b.replace("o","$")
sn=s[0]+st
print("new string: ",sn)

enter the string: hello
new string:  hell$